In [1]:
import pandas as pd
import json
import random
import spacy
from spacy.tokens import DocBin
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import pandas as pd
import random

In [2]:
df = pd.read_csv("preprocessed.csv")

In [3]:
print(df['Area Name'].value_counts())
print(df['STATE/UT NAME'].value_counts())
print(df['DISTRICT NAME'].value_counts())
print(df['SUB-DISTRICT NAME'].value_counts())

Area Name
Rampur             681
Gopalpur           535
Narayanpur         312
Mohanpur           290
Raghunathpur       268
                  ...
Bhimchak             1
Bhimchabarkhori      1
Bhawanichauki        1
Bharathakol          1
Uttar Goalpara       1
Name: count, Length: 447161, dtype: int64
STATE/UT NAME
Uttar Pradesh           65530
Madhya Pradesh          56709
Odisha                  52245
Rajasthan               48067
Bihar                   45693
                        ...
LAKSHADWEEP                10
DAMAN & DIU                 6
CHANDIGARH                  3
DADRA & NAGAR HAVELI        2
Chandigarh                  1
Name: count, Length: 72, dtype: int64
DISTRICT NAME
Paschim Medinipur    5748
Azamgarh             4260
Mayurbhanj           4004
Kangra               3939
Bankura              3832
                     ...
TELANGANA               1
konaseema               1
WEST BENGAL             1
UTTARAKHAND             1
MAHARASHTRA             1
Name: count, Length: 916, dtype: int64
SUB-DISTRICT NAME
Fatehpur        1567
Harraiya        1563
Basti           1184
Phuloni         1159
Sagri           1047
                ...
Chhendipada        1
Industrial         1
Jarapada           1
Bikrampur          1
Jakholi            1
Name: count, Length: 8189, dtype: int64

In [4]:
train_df, temp_df =train_test_split(df, test_size=0.2, random_state=42)
validation_df, test_df = train_test_split(temp_df, test_size=0.5, random_state=42)

In [5]:
train_df.to_csv("train.csv", index=False)
validation_df.to_csv("validation.csv", index=False)
test_df.to_csv("test.csv", index=False)
print("Data Splittting Complete.")
print(f"Train set: {len(train_df)} records")
print(f"Validation set: {len(validation_df)} records")
print(f"Test set: {len(test_df)} records")

Data Splittting Complete.
Train set: 507296 records
Validation set: 63412 records
Test set: 63413 records